<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Response</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>

<link rel="stylesheet" type="text/css"
 href="/static/js/node_modules/bootstrap-daterangepicker/daterangepicker.css"
/>

<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


</head>

<body>
<div class="container">

<h1>You've Been Invited to a Meeting between {{session.begin_date}} - {{ session.end_date}}</h1>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Intersect your Google Calendars to find a Good Appointment Time</h2>
<form action="/getcals_invited" method="post">
{% if session.calendars is defined  %}
  <div class="row">
  {% for cal in session.calendars if cal.selected %}
          <div class="col-md-4">
          <td> <input type=checkbox name= "cal_select" value="{{ cal.id }}">
          {{ cal.summary }}</td>
	   
          </div>
         {% if loop.index is divisibleby 1 %}
          </div> <div class="row">
         {% endif %}
  {% endfor %}
  </div>
{% endif %}
<input type="submit" value="Choose" />
</form>
<form action="/intersect" method="post">
<input type="submit" value="Intersect Calendars" />
</form>
  <script>
  $(document).ready(function(){
  	$.getJSON("/timerange",
  		fucntion(data){
  			text = data.result;
  			$('#results').append(text);
  						} )  }  )
  </script>
  </body> </html>